div.drop-zone {
    border: 3px solid #888888 !important;
}

.green {
    color: rgb(30, 209, 30);
    transition: all 400ms;
}

.unselect {
    opacity: 0.50;
    color: rgba(150, 150, 150);
    transition: all 400ms;
}

.info {
    font-size: 13px;
    letter-spacing: 1px;
    padding: 4px 6px;
    border: 1px solid rgb(255, 115, 0);
    color: rgb(255, 115, 0);
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}

.crc {
    font-size: 12px;
    font-family: monospace;
    letter-spacing: 1px;
    border: 1px solid #ff0000;
    color: red;
    padding: 3px 5px;
    vertical-align: middle;
    /* display: inline-block; */
    float: right;
}
.filename {
    font-size: 12px;
    letter-spacing: 1px;
    border: 1px solid;
    border-color: inherit;
    padding: 3px 5px;
    vertical-align: middle;
    display: inline-block;
}

.filesize {
    font-size: 12px;
    letter-spacing: 1px;
    border: 1px solid rgb(14, 124, 151);
    color: rgb(14, 124, 151);
    padding: 3px 10px;
    vertical-align: middle;
    /* display: inline-block; */
    margin-right: 3px;
    float: right;
}

.icon {
    font-size: 12px;
    color: inherit;
    display: inline-block;
    margin-right: -5px;
}

div.entry {
    margin-bottom: 2px;
    cursor: pointer;
}

div.green:hover {
    transition: all 400ms;
    background-color: rgba(0, 255, 0, 0.2);
}

div.unselect:hover {
    transition: all 400ms;
    background-color: rgba(0, 0, 0, 0.2);
}