<div class="center">
  <div style="padding: 20px 50px;">
    <file-drop headertext="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
      <!-- <span>optional content</span> -->
    </file-drop>
  </div>
</div>

<div class="center">
  <div style="padding: 10px 20px">
    <div class="info">
      Captured Files : {{ files.length }}
    </div>
    <div class="info">
      Selected Files : {{ files.length - ignoredFiles.length }}
    </div>
  </div>
</div>

<div style="padding: 10px 50px;">
  <div *ngFor="let item of files; let i = index" class="entry"
    [class.green]="item.checked"
    [class.unselect]="!item.checked" (click)="toggle(item)">
    
    <div class="icon" *ngIf="item.checked">
      <i class="far fa-check-circle"></i> &nbsp;
    </div>
    <div class="icon" *ngIf="!item.checked">
      <i class="far fa-times-circle"></i> &nbsp;
    </div>
    <div class="crc">
      {{ item.crc32 }}
    </div>
    <div class="filename">
      {{ item.file.relativePath }}
    </div>
    <div class="filesize">
      ({{ (item.humanSize) }})
    </div>
  </div>
</div>
